appdirs==1.4.3
Django==1.11
django-cors-headers==2.0.2
djangorestframework==3.6.2
djangorestframework-jwt==1.9.0
packaging==16.8
PyJWT==1.4.2
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
gunicorn==19.9.0
coverage==4.5.3
django-elasticsearch-dsl==0.5.1
Pillow==8.3.2
twine==1.13.0
pytest==5.0.1
pytest-cov==2.7.1
mixer==6.1.3
